    <section class="w-3/4 min-h-[95vh]  bg-white border border-gray-400 rounded-xl  shadow p-4 mx-auto  ">
            <div>
            <h1 class="heading-title bg-[#f0ece0] w-1/4 text-center text-[20px]  sm:text-[28px] rounded-xl  mx-auto py-3">Product Deatils</h1>
        </div>

   
        

       


         
        <div class="flex flex-col justify-center items-center md:flex-row md:justify-between md:items-center gap-8 mt-10 ">

            <div class="w-1/3 sm:w-1/2 h-full flex flex-col items-start md:items-center ">
                <img [src]="productInfo.image"  class="w-[100%] md:w-[250px] h-[100%] md:h-[250px] " alt="">
            </div>
            <div class=" w-2/3 sm:w-1/2 flex flex-col items-center justify-center">
              <div class="border-[3px] rounded-3xl pb-3">
                  <h1 class="text-3xl font-semibold text-center py-4 tracking-tight text-sub dark:text-white bg-title rounded-t-2xl px-3">{{productInfo.title}}</h1>
                 <h2 class="bg-[] self-center text-[40px] leading-5 font-[700] text-center py-4 tracking-tight text-sub dark:text-white">{{productInfo.category}}</h2>
                <h3 class="bg-[] self-center text-xl font-[600] text-center py-4 tracking-tight text-sub dark:text-white"><span class="text-[] font-[800]">Count: </span>{{productInfo.rating.count}}</h3>
                 <div class="flex flex-row w-1/4 items-center justify-evenly text-center mx-auto">
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <span class="bg-[#d7c89f] rounded-lg text-Black text-md font-semibold px-2.5 py-0.5  dark:bg-blue-200 dark:text-blue-800 ms-3">{{productInfo.rating.rate}}</span>
                </div>
              </div>
                <div class="self-center text-xl font-[600] text-center py-4 tracking-wide text-sub md:px-4 dark:text-white border-[3px] rounded-3xl pb-3 ">
                    <p>{{productInfo.description}}</p>
                </div>
               

            </div>
        </div>
        
       
        
   
    </section>